$color-hellocker: rgb(243, 229, 190);
$color-dunkelocker: rgb(246, 223, 157);
$color-fastschwarz: rgb(40, 34, 30);
$color-dunkelrot: rgb(194, 42, 53);
$color-tee-hell: #e68d00;
$color-tee-dunkel: #af3801;
$color-tee: mix($color-tee-hell, $color-tee-dunkel, 60%);//rgb(239, 184, 85);//#f4cb7a;
$color-hellblau: rgb(46, 135, 199);
$color-dunkelblau: rgb(68, 86, 127);
$color-white: white;
